h1 {
    -webkit-animation:slidein 3s;
            animation:slidein 3s;
}

@-webkit-keyframes slidein {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}