.site-footer {
  margin-top: 1rem;
  position: relative;
  width: 100%;
}

.read-next {
  border-top: 1px solid $border-color;
  font-size: .8rem;
  margin-bottom: 1.5rem;
  margin-top: .5rem;
  padding-top: 1.5rem;
  text-align: center;

  a {
    font-size: 1rem;
    font-weight: bold;
    margin-left: .25rem;
    text-decoration: underline;
   }
}

.mini-about {
  background: linear-gradient(to bottom, $gradient-color, #fff 2%);
  @include border-radius(5px);
  padding: 1rem;
  text-align: left;

  @include bp-large {
    left: -4%;
    position: absolute;
    right: -4%;
  }

  h2 {
    padding-left: 1rem;
  }

  p {
    padding-left: 23%;
    vertical-align: top;
  }

  .avatar {
    float: left;
    max-width: 18%;
    margin-right: 1rem;
    margin-top: .25rem;
    vertical-align: top;
    @include border-radius(45%);
    border: 3px solid $img-border-color;
    @include box-shadow(-1px 0 5px 2px $img-shadow-color);
  }

  a:visited {
    color: $base-link-color;
  }

  .social-profiles {
    margin-bottom: 2rem;
    padding-left: 1rem;
  }
}

.back-home {
  float: left;
  font-size: .8rem;

  &:before {
    content: '← ';
  }
}

.copyright {
  color: #9a9a9a;
  float: right;
  font-size: .8rem;
  margin-bottom: 2rem;
  opacity: .75;
}

.fade-in {
  opacity: 1;
}
